@import url('https://fonts.googleapis.com/css2?family=Maven+Pro:wght@400;500;600;700;800;900&family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,600&family=Ubuntu:wght@400;500;700&display=swap');

.hero-section {
  display: flex;
  flex-wrap: wrap-reverse;
  /* reverse the order for mobile */
  align-items: center;
  justify-content: center;
  height: 70vh;
  cursor: url(../images/cursor.cb7b15ad.cur), auto;
}

.btn-collab {
  background-color: transparent;
  border-color: #545151;
  padding: 2%;
  color: white;
  font-family: 'Maven pro', sans-serif;
  font-size: 20px;
  font-weight: 700;
  border-radius: 7px;
}

.hero-image {
  flex: 1;
}

/* .van {
  margin-left: 27%;
} */

h2 {
  font-family: 'Poppins', sans-serif;
  font-size: 32px;
  color: whitesmoke;
}

.hero-text {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: 2rem;
  position: relative;
}
.hero-btn{
  display: -webkit-flex;
  display: flex ; 
  align-items: center;
   width: 500px;
  margin-top: 5%;
}

.sub-text {

  font-family: 'Maven Pro', sans-serif;
  font-size: 40px;
  color: white;
}

.animate-charcter {
  font-size: 90px;
  background-image: linear-gradient(-225deg,
      #231557 0%,
      #ff097f 29%,
      #ff1361 67%,
      #ef6d35 100%);
  background-size: auto auto;
  background-clip: border-box;
  background-size: 200% auto;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textclip 2s linear infinite;
  display: inline-block;
}

@keyframes textclip {
  to {
    background-position: 200% center;
  }
}

.hero-text h1 {
  font-weight: 900 ;
  margin: 0;
  font-family: 'Maven Pro', sans-serif;
  color: rgb(249, 255, 218);
}

.hero-text p {
  font-size: 3em;
  margin-top: 0;
  color: white;
  display: inline-block;
  position: relative;
  z-index: 1;
}

@keyframes textGradient {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

/* Media query for smaller screens */
@media screen and (max-width: 768px) {
  .hero-section {
    height: auto;
  }
  .animate-charcter {
    font-size: 30px;
  }
  .hero-btn{
   flex-wrap: wrap;
    width: 427px;
    margin-top: 10%;
  }

  .hero-image {
    order: 2;
    /* move the image below the text for mobile */
  }

  .hero-text {
    order: 1;
    width: 20px;
    /* move the text above the image for mobile */
    padding: 1rem;
  }
  p{
    font-size: 16px;
  }

  .hero-text h1 {
    font-size: 3rem;
  }

  .hero-text p {
    font-size: 2em;
  }
}