@import url('https://fonts.googleapis.com/css2?family=Maven+Pro:wght@400;500;600;700;800;900&family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,600&family=Ubuntu:wght@400;500;700&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  /* font-family: 'Poppins', sans-serif; */


}

:root {
  --mainColor: #000000;
  --mainColorLight: #52619b;
  --secondaryColor: #ca4f07;
  --textColor: #ffffff;
  --bodyColor: rgb(36, 35, 35);
  cursor: url(../images/icons8-cursor-48.cur), auto;

}

header {
  position: sticky;
  top: 0;
  background-color: white;
  z-index: 100;
  transition: all 0.3s ease-in-out;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 2rem;
  background-color: var(--mainColor);
  color: var(--textColor);
}

header.sticky {
  position: fixed;
  top: 0;
  left: 0;
  color: rgb(255, 255, 255);
  width: 100%;
  z-index: 999;
  background: linear-gradient(-225deg,
      #231557 20%,
      #ff1361 67%,
      #ef6d35 100%);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}


nav a {
  margin: 0 10px;
  color: var(--textColor);
  text-decoration: none;
  font-family: 'Maven pro', sans-serif;
  font-size: 20px;
  font-weight: 600;

}

nav {
  border-radius: 15px;
}

nav a:hover {
  color: var(--secondaryColor);
}

.portfolio {
  height: 50%;
  margin: 2% 0% 20% 0%;
}

header .nav-btn {
  padding: 5px;
  cursor: pointer;
  background: transparent;
  border: none;
  outline: none;
  color: var(--textColor);
  visibility: hidden;
  opacity: 0;
  font-size: 1.8rem;
}

.nav-contact {
  padding: 10px;
  background: var(--bodyColor);
  border: none;
  border-radius: 5px;
  color: var(--textColor);
  font-size: 1rem;
  font-family: 'Poppins', sans-serif;
}

.nav-contact a:hover {
  color: var(--secondaryColor);
}

.parent-container {
  display: flex;
}

.col-md-4 {
  flex: 1;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  /* height: 100vh; Adjust the height to match your needs */
  background-color: black;
  /* Set the background color to black */
}

.centered-text{
  text-align: center;
  color: rgb(172, 172, 172);
  font-family: 'Poppins', sans-serif;
  font-size: 20px;
  /* Set the font color to white */
}

.tagline-2 {
  font-family: 'Maven Pro', sans-serif ;
  margin-bottom: 5%;
  font-size: 55px;
  line-height: 80px;
  font-weight: 900;
  color: white;
  text-align: center;
}
.card-body{
  font-family: 'Popins', sans-serif;
  font-size: 17px;
  letter-spacing: 1px;
  line-height: 40px;
}
.items-list {
  margin-left: 18%;
}
.portfolio-h{
  font-family: 'Maven Pro', sans-serif ;
  font-size: 55px;
  line-height: 80px;
  font-weight: 900;
  color: white;
  text-align: center;
}
a{
  color: #fac760;
}
a:hover{
  color: #ff1361;
}
.card {
  height: 100%;
  background-color: rgba(22, 22, 22, 0.514);
  border-radius: 5px;
}

.card-title {
  text-align: center;
}

.card-items {
  text-align: center;
}


@media only screen and (max-width: 1024px) {
  header .nav-btn {
    visibility: visible;
    opacity: 1;
  }

  header nav {
    position: fixed;
    top: 0;
    left: 0;

    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
    background-color: var(--mainColor);
    transition: 1s;
    transform: translateY(-100vh);
  }

  header .responsive_nav {
    transform: none;
  }

  nav .nav-close-btn {
    position: absolute;
    top: 2rem;
    right: 2rem;
  }

  nav a {
    font-size: 1.5rem;
  }
}
/* portfolio */
/* .tagline-2-p{
  width: 40%;
  margin: 0 auto;
} */


/* About css */
.skill-bars {
  margin-bottom: 20px;
}

.skill-item {
  margin-bottom: 10px;
}

.skill-title {
  font-weight: bold;
  display: block;
  margin-bottom: 5px;
}
.skill-bar.animate .skill-progress {
  width: var(--progress-width);
  transition: width 1s ease-in-out;
}

.skill-bar {
  height: 18px;

  position: relative;
  border: solid 2px #f7c561;
  border-radius: 8px;
}


.skill-progress {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 3px;
  height: 100%;
  background-color: #fac760;
  animation: progress 2s ease-in-out forwards;
  /* The animation above will animate the width property of the progress bar over 2 seconds */
}

@keyframes progress {
  from {
    width: 0%;
  }
  to {
    width: var(--progress-width);
  }
}

.skill-percent {
  position: absolute;
  top: 0;
  right: -20px;
  font-weight: bold;
}

.about-buttons {
  display: flex;
  margin-top: 5%;
  justify-content: center;
}

.about-buttons button {
  margin: 10px;
}

@media (max-width: 767px) {
  .about-buttons {
    flex-direction: column;
    align-items: center;
  }
  header nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 89%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
    background-color: var(--mainColor);
    transition: 1s;
    transform: translateY(-100vh);
  }
  #what-i-do{
    margin-top: 25%;
  }
  .footer{
    padding: 0px;
  }
  .items-list{
    margin-left: 0px;
  }
  .animate{
    margin-top: 10%;
  }
  .col-sm-12.services.col-lg-4{
    margin-top: 5%;
  }
  .about.text-white{
    border: none !important;
    border-radius: 0px !important;
  }

  h4{
    font-size: 16px;
    font-weight: 600;
  }
  p{
    font-size: 18px;
  }
  .tagline-2 {
    font-family: 'Maven Pro', sans-serif ;
    margin-bottom: 5%;
    font-size: 20px;
    line-height: 40px;
    font-weight: 900;
    color: white;
    text-align: center;
  }
  .centered-text{
    font-size: 18px;
  }

  .about-buttons button {
    margin: 5px 0;
  }
}
p{
  font-family: 'Poppins', 'Ubuntu', sans-serif;
}
.about.text-white{
  background-color: #0B0B0B;

  border-radius: 57px;
}
.btn.about{
  color: #fff;
  font-size: 18px;
  font-family: 'Poppins';
  padding: 10px;
  border: 1.5px solid #b6b4b4;
  border-radius: 8px;
}
.btn.about:hover{
  background-color: #e9e5e5 ;
  color: #161515;
  font-size: 18px;
  font-family: 'Poppins';
  padding: 10px;
  border: none;
  border-radius: 8px;
}
